---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import About from "../components/About.astro";
import Work from "../components/Work.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import { services } from "../data/services";
import { projects } from "../data/projects";
---

<Layout title="LUCAS <DEV/> - Sitios Web que Traen Clientes">
  <Header />
  <main>
    <Hero />
    <Services services={services} />
    <Work projects={projects} />
    <About />
    <Contact />
  </main>
  <Footer />
</Layout>
